extends layout

block content
  input(type="password", id="password", style="margin:auto;", autofocus)
  .btn.btn-success(id="access_btn", style="margin-right:10px;margin-left:10px;") Start
  .btn.btn-danger Stop

block scripts
  script
    $('.btn.btn-success').click(function(){
      console.log('suc');
      $.post('/start', { password: $('#password').val() });
    });
    $('.btn.btn-danger').click(function(){
      console.log('dan');
      $.post('/stop', { password: $('#password').val() });
    });