extends layout

block append content
  h1= title
  p Add your Github Account
  form(name='github_form', method='post', action='/add/repos')
    table
      tr
        td
          a Name of Hack
        td
          input(type='text', name='title', style="margin:5px;")
      tr
        td
          a Github Username
        td
          input(type='text', name='title', style="margin:5px;")
      tr
        td
          a Repo Name
        td
          input(type='text', name='title', style="margin:5px;")
      tr
        td      
          a Team Members
        td
          input(type='text', name='author', style="margin:5px;")
    button(type="submit", style="margin-top:10px;") submit
  i(id="repos", class="icon-info-sign", style="position:fixed;left:15px;top:270px;", data-original-title="CSV plz", data-placement="top")


block append scripts
  script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js")
  script
    $('#repos').tooltip();