extends layout

block append stylesheets
  link(type="text/css", rel="stylesheet", href="/css/rickshaw.css")
  link(type="text/css", rel="stylesheet", href="/css/rickshaw.min.css")

block append content
  h1= title
  p Welcome to #{title}
  #content
    #chart_container
      #y_axis
      #chart
      #slider
      #legend(style="background-color:#808080")


block append scripts
  script(src="/socket.io/socket.io.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/d3/3.0.1/d3.v3.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js")
  script(src="/js/rickshaw.min.js")
  script(src="/js/rickshaw.js")
  script(src="/js/sockets.js")