extends layout

block append stylesheets
  link(type="text/css", rel="stylesheet", href="/css/rickshaw.css")
  link(type="text/css", rel="stylesheet", href="/css/rickshaw.min.css")

block append content
  #content
    #chart_container(style="display: block;")
      img(id="loader", src="/img/ajax-loader.gif")
      #y_axis
      #chart
      #slider
      #legend
    #leader_container
      h2(class="noun") Leaderboard
      p By number of commits
      table.table.table-striped(id="leaders")
        thead(style="font-weight: bold;")
          tr
            td #
            td Repo Name
            td Username
            td # of Commits
        tbody(id="leaders_tbody")
    #commit_feed_container
      h2(class="noun") Commit Messages
      p From the latest commits
      table.table.table-bordered(id="messages")
        tbody(id="messages_tbody")

block append scripts
  script(src="/socket.io/socket.io.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/d3/3.0.1/d3.v3.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js")
  script(src="/js/rickshaw.min.js")
  script(src="/js/rickshaw.js")
  script(src="/js/sockets.js")