body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;/*#00B7FF;*/
}
a:hover {
  color: black;
  text-decoration:none;
}

#chart_container {
  position: relative;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  height: 332px;
}
#chart {
  display: inline-block;
  margin-left: 40px;
}
#y_axis {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
}
#legend {
  display: block;
  vertical-align: top;
  margin: 0 0 0 10px;
  background-color: #808080;
}
#side_panel {
  display: inline-block;
}
#leaders, .noun {
  margin-top: 30px;
}
#leaders {
  width: 450px;
  text-align:center;
}
#leader_container {
  max-height: 426px;
  overflow: hidden;
  float: left;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 20px;
}
#leaders_tbody tr td {
  /*text-align:center;*/
}
#turnip_pic {
  position: absolute;
  top: 45px;
  left: 0px;
}
.inline {
  margin-left: 10px;
  width:135px;
}
.inline:hover {
  cursor:pointer;
}
#loader {
  position: absolute;
  padding-top: 100px;
  padding-left: 400px;
}
#messages_tbody tr td:first-child {
  color:#ccc;/*215E21;*/
}
#commit_feed_container {
  /*max-height: 462px;
  overflow: hidden;*/
  float: left;
  display: inline-block;
  margin-bottom: 100px;
}
#messages {
  margin-top:20px;
}
#offset_form {
  margin-right: auto;
  margin-left: 20px;
  margin: 10px;
  /*font-size: 13px;*/
  display: inline-block;
}
.btn-group{
  display:none;
}